b{

color:rgb(209, 0, 0)

}

p{
  inline-size: 800px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: right; 
  text-align: right;
}



body {
    background-color: rgb(218, 178, 98);
    }
    ion-icon {
        font-size: 64px;
      }


img {width: 300px;
height: 300px;}